<div class="card" data-categories="{% for category in item.categories %}{{ category | downcase | strip }}|{% endfor %}">
  <a href="{{ item.url | relative_url }}">
    {% if item.background %}
      <img class="card-img-top" src="{{ item.background | relative_url }}">
    {% else %}
      <div class="card-img-top bg-secondary"></div>
    {% endif %}
  </a>

  <div class="card-body position-relative">
    <h5 class="card-title">
      <a class="stretched-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    </h5>

    {% if item.collection == "posts" %}
      <h6 class="card-subtitle">{{ item.date | date: "%B %d, %Y" }}</h6>
    {% endif %}

    <div class="card-text">
      {% if item.description %}
        {{ item.description | markdownify | strip_html | truncatewords: 20 }}
      {% else %}
        {{ item.excerpt | strip_html | truncatewords: 20 }}
      {% endif %}
    </div>
  </div>

  {% if item.collection == "posts" and item.categories and site.archive_permalink %}
    <div class="card-footer">
      {% for category in item.categories %}
        <a class="badge{% if site.rounded_corners != false %} rounded-pill{% endif %}" href="{{ site.archive_permalink | relative_url }}?category={{ category | url_encode }}">{{ category }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
