<div class="card" data-categories="{% for category in post.categories %}{{ category | downcase | strip }}|{% endfor %}">
  <a href="{{ post.url | relative_url }}">
    {% if post.background %}
      <img class="card-img-top" src="{{ post.background | relative_url }}">
    {% else %}
      <div class="card-img-top bg-secondary"></div>
    {% endif %}
  </a>

  <div class="card-body position-relative">
    <h5 class="card-title">
      <a class="stretched-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h5>

    <h6 class="card-subtitle">{{ post.date | date: "%B %d, %Y" }}</h6>

    <div class="card-text">
      {% if post.description %}
        {{ post.description | markdownify | truncatewords: 20 }}
      {% else %}
        {{ post.excerpt | truncatewords: 20 }}
      {% endif %}
    </div>
  </div>

  {% if post.categories and site.archive_permalink %}
    <div class="card-footer">
      {% for category in post.categories %}
        <a class="badge badge-pill" href="{{ site.archive_permalink | relative_url }}?category={{ category | url_encode }}">{{ category }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
