<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg mt-lg-4">
        <ul class="list-inline">
          {% if site.email %}
            <li class="list-inline-item">
              <a href="mailto:{{ site.email }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}

          {% if site.twitter_username %}
            <li class="list-inline-item">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}

          {% if site.github_username %}
            <li class="list-inline-item">
              <a href="https://github.com/{{ site.github_username }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      {% for col in site.data.footer.columns %}
      <div class="col-lg">
        <h5>{{ col.title }}</h5>

        {{ col.description | markdownify }}

        {% if col.links %}
          <ul class="fa-ul">
          {% for item in col.links %}
            <li>
              <i class="fa-li fa fa-chevron-circle-right"></i>
              <a href="{{ item.link | relative_url}}" {% if item.new_window %}target="_blank"{% endif %}>{{ item.name }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}

      </div>
      {% endfor %}
    </div>

    <div class="small mt-2">
      © {{ site.author }}
      {% if site.data.footer.license %}
      — {{ site.data.footer.license | markdownify }}
      {% endif %}
    </div>
  </div>
</footer>

<script src="{{ '/assets/theme/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/theme/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/theme/js/bootstrap.min.js' | relative_url }}"></script>

{% if page.layout == 'archive' %}
<script>
  // Filter cards on ?category=value
  $(document).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    
    if (urlParams.has("category") && urlParams.get("category") != "") {
      // Get category param: will decode param value + return 1st value in case of multiple category params
      const category = urlParams.get("category");
      
      $(".card").each(function() {
        const cardCategories = $(this).data("categories").split("|");
        // Hide card if it does not contain the selected category
        if (!cardCategories.includes(category)) {
          $(this).parent().addClass("d-none");
        }
      });

      $(".jumbotron .categories").append(
        '<a class="badge badge-pill" href="{{ site.archive_permalink | relative_url }}">' + 
        category + '<span class="close">&times;</span>' + 
        '</a>'
      );
    }
  });
</script>
{% endif %}
