<footer>
  <div class="container">
    <div class="row">
      {% if site.email or site.twitter_username or site.github_username %}
        <div class="col-lg">
          <ul class="list-inline">
            {% if site.email %}
              <li class="list-inline-item">
                <a href="mailto:{{ site.email }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}

            {% if site.twitter_username %}
              <li class="list-inline-item">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}

            {% if site.github_username %}
              <li class="list-inline-item">
                <a href="https://github.com/{{ site.github_username }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      {% for col in site.data.footer.columns %}
        <div class="col-lg">
          {{ col.description | markdownify }}

          {% if col.links %}
            <ul class="fa-ul">
              {% for item in col.links %}
                <li>
                  <i class="fa-li fa fa-chevron-circle-right"></i>
                  <a href="{{ item.href | relative_url}}"{% if item.new_window %} target="_blank"{% endif %}>{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="small mt-2">
      {% if site.author %}
        <p>© {{ site.author }}</p>
      {% endif %}
      {% if site.data.footer.license %}
        {{ site.data.footer.license | markdownify }}
      {% endif %}
    </div>
  </div>
</footer>

<script src="{{ '/assets/theme/js/anchor.min.js' | relative_url }}"></script>
<script>
  // Show anchors when hovering over headings, using anchor.js
  (function () {
    const headings = ".content h2[id], .content h3[id], .content h4[id], .content h5[id], .content h6[id]";
    anchors.options = { placement: "right" };
    anchors.add(headings);
  })();
</script>
