<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if page.layout == 'home' %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}
  
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <!-- CSS -->
  <!-- Bootstrap is included in main.css -->
  <link rel="stylesheet" href="{{ '/assets/theme/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/theme/css/font-awesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/theme/css/pygments.css' | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">

  <!-- Feeds -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - RSS feed" href="{{ '/feed.xml' | absolute_url }}" >
</head>
