{% if page.background %}
  <header class="jumbotron bg-image" style="background-image: url('{{ page.background | relative_url }}')">
{% else %}
  <header class="jumbotron bg-no-image">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <h1{% if page.layout == 'home' %} class="home"{% endif %}>{{ page.title }}</h1>
          
          <div class="lead">{{ page.description | markdownify }}</div>
          
          {% if page.date %}
          <p class="meta">
            <time>{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.author or page.authors %}
              &bull; {{ page.author | join: ', ' }}{{ page.authors | join: ', ' }}
            {% endif %}
          </p>
          {% endif %}

          <div class="categories">
            {% if page.categories and site.archive_permalink %}
              {% for category in page.categories %}
              <a class="badge badge-pill" href="{{ site.archive_permalink | relative_url }}?category={{ category | url_encode }}">{{ category }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
