{% if page.background %}
  <header class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('{{ page.background | relative_url }}')">
{% else %}
  <header class="jumbotron bg-secondary">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <h1{% if page.layout == 'home' %} class="home"{% endif %}>{{ page.title }}</h1>
          
          <div class="lead">{{ page.description | markdownify }}</div>
          
          <time>{{ page.date | date: "%B %d, %Y" }}</time>

          <div class="categories">
            {% if page.categories and site. archive_permalink %}
              {% for category in page.categories %}
              <a class="badge badge-pill" href="{{ site.archive_permalink | relative_url }}?category={{ category | url_encode }}">{{ category }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
