<nav class="navbar navbar-expand-lg navbar-light bg-light d-print-none" id="main-nav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{'/' | relative_url }}">
      {% if site.logo %}
        <img class="me-3" src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
      {% endif %}
      {{ site.title }}
    </a>
    {% if page.navigation and site.data[page.navigation] %}
      {% assign navigation = site.data[page.navigation] %}
    {% elsif site.data.navigation %}
      {% assign navigation = site.data.navigation %}
    {% endif %}
    {% if navigation %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        Menu <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation %}
            {% if item.menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  {{ item.text }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  {% for subitem in item.menu %}
                    {% if subitem.href %}
                      {% if subitem.text contains '' %}
                        {% assign subitem_text = subitem.text %}
                      {% else %}
                        {% assign subitem_text = site.pages | where: 'url', subitem.href | map: 'title' | first %}
                      {% endif %}
                      <a class="dropdown-item{% if subitem.href == page.url %} active{% endif %}" href="{{ subitem.href | relative_url }}"{% if subitem.new_window %} target="_blank"{% endif %}>{{ subitem_text }}</a>
                    {% elsif subitem.text contains '---' %}
                      <div class="dropdown-divider"></div>
                    {% else %}
                      <h6 class="dropdown-header">{{ subitem.text }}</h6>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="navbar-item">
                {% if item.text contains '' %}
                  {% assign item_text = item.text %}
                {% else %}
                  {% assign item_text = site.pages | where: 'url', item.href | map: 'title' | first %}
                {% endif %}
                <a class="nav-link{% if item.href == page.url %} active{% endif %}" href="{{ item.href | relative_url }}"{% if item.new_window %} target="_blank"{% endif %}>{{ item_text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
