<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{'/' | relative_url }}">
      {% if site.logo %}
        <img class="me-3" src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
      {% endif %}
      {{ site.title }}
    </a>
    {% if page.navigation and site.data[page.navigation] %}
      {% assign navigation = site.data[page.navigation] %}
    {% elsif site.data.navigation %}
      {% assign navigation = site.data.navigation %}
    {% endif %}
    {% if navigation %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        Menu <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation %}
            {% if item.menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  {{ item.text }}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  {% for subitem in item.menu %}
                    {% if subitem.href %}
                      {% if subitem.href contains '' %}
                        {% assign subitem_href = subitem.href %}
                      {% else %}
                        {% assign subitem_href = site.pages | where: 'title', subitem.text | map: 'url' | first %}
                      {% endif %}
                      {% if subitem_href %}
                        <a class="dropdown-item{% if subitem_href == page.url %} active{% endif %}" href="{{ subitem_href | relative_url }}"{% if subitem.new_window %} target="_blank"{% endif %}>{{ subitem.text }}</a>
                      {% else %}
                        <a class="dropdown-item text-danger" href="#">{{ subitem.text }}</a>
                      {% endif %}
                    {% elsif subitem.text contains '---' %}
                      <div class="dropdown-divider"></div>
                    {% else %}
                      <h6 class="dropdown-header">{{ subitem.text }}</h6>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="navbar-item">
                {% if item.href contains '' %}
                  {% assign item_href = item.href %}
                {% else %}
                  {% assign item_href = site.pages | where: 'title', item.text | map: 'url' | first %}
                {% endif %}
                {% if item_href %}
                  <a class="nav-link{% if item_href == page.url %} active{% endif %}" href="{{ item_href | relative_url }}"{% if item.new_window %} target="_blank"{% endif %}>{{ item.text }}</a>
                {% else %}
                  <a class="nav-link text-danger" href="#">{{ item.text }}</a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
