// General styling
// 
// For content styling, see _content.scss

body {
  word-wrap: break-word; // Allow long words (e.g. URLs) to wrap, so they don't break out of container
  position: relative; // Required for scrollspy
}

.btn {
  white-space: normal; // Wrap button within container
}

// Add padding to code blocks
pre.highlight {
  padding: 0.25rem;
  margin-bottom: $grid-gutter-width / 2;
}
