// Blog post card

.cards {
  // Mimics Bootstrap .card-deck, stretching cards to equal height, but without
  // stretching width when there are fewer cards on one row (cards remain equal width)
  div[class*="col"] {
    display: flex;
    align-items: stretch;
  }
}

.card {
  margin-bottom: $grid-gutter-width;
  min-width: 100%; // Use allowed width even if content is smaller

  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .card-subtitle {
    color: $gray-600;
    margin-bottom: 0.5rem;
  }

  a:hover {
    text-decoration: none;
  }

  .card-footer {
    background: inherit;
    border-top: none;

    // Smaller badge then the one defined in _jumbotron.scss
    .badge {
      border: 1px solid $link-color;
      font-family: $font-family-base;
      text-transform: uppercase;

      &:hover,
      &:focus {
        border: 1px solid $link-hover-color;
      }
    }
  }
}
