// Content

.content {
  font-family: Lora, serif;
  hyphens: none;
  
  // Use base font for headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-base;
  }

  // Add extra padding between checkbox and item
  .task-list-item-checkbox {
    margin-right: 0.5rem;
  }

  // Style blockquotes
  blockquote {
    border-left: 0.25rem solid $gray-200;
    color: $gray-600;
    padding: 0 1rem;
  }

  // Style images
  img {
    max-width: 100%; // Mimick .img-fluid
    height: auto;

    // Add margin between floated img and text
    &.float-left {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &.float-right {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  // Style tables
  // This is done by replacing '<table' with '<table class="table"' in {{ content }}
}
