// Content

.content {
  font-family: Lora, serif;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-base;
  }

  .task-list-item-checkbox {
    margin-right: 0.5rem;
  }

  blockquote {
    border-left: 0.25rem solid $gray-200;
    color: $gray-600;
    padding: 0 1rem;
  }
}
