// User defined variables
// 
// In this file you can customize the colours for your website: just change the values below.
// To find the hex value (#xxxxxx) for your colour, use e.g. https://htmlcolorcodes.com

$links: #007bff;        // For links, use a readable colour that contrasts well with black text
$header: #007bff;       // For header, use a background colour that contrasts well with white text
$footer: #6c757d;       // For footer, use a background colour that contrasts well with white text

// Options

$enable-rounded: true;  // Here you can set if you want rounded (true) or square (false) boxes and buttons.
