// User defined customization
// 
// In this file you can customize the colors for your website: just change the values below.
// To find the hex value (#xxxxxx) for your color, use e.g. https://www.color-hex.com/

$links: #007bff;        // Color for the links: use a readable color that contrasts well with dark text
$header: #007bff;       // Background color for the header when no background image is used
$footer: #6c757d;       // Background color for the footer

// Other options you can change

$enable-rounded: true;  // Rounded (true) or square (false) boxes and buttons
$spacer: 1rem;          // Affects white space of some elements (default: 1rem)
