// Jumbotron

.jumbotron {
  // background-image: set in page frontmatter
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0; // Should always be square, independent from $enable-rounded
  color: $white;
  position: relative; // To contain overlay
  text-align: center;

  &.bg-no-image {
    background-color: theme-color("secondary");
  }

  // Overlay
  &.bg-image:before {
    background-image: linear-gradient(rgba(theme-color("dark"), 0.1), rgba(theme-color("dark"), 0.9));
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  a,
  a:hover,
  a:visited {
    color: $white;
  }
  
  h1 {
    $jumbotron-h1: 3.5rem;
    font-size: $jumbotron-h1;
    font-weight: 800;

    // Reduce font-size on smaller screens, except on homepage
    @include media-breakpoint-down(md) {
      font-size: $jumbotron-h1 - 1;

      &.home {
        font-size: $jumbotron-h1;
      }
    }
  }

  .lead {
    font-size: ($lead-font-size * 1.2);
  }

  .meta {
    font-size: 1.25rem;
  }

  .badge {
    border: 2px solid $white;
    margin-top: 0.25rem;
    padding-left: $badge-pill-padding-x * 2;
    padding-right: $badge-pill-padding-x * 2;
    text-transform: uppercase;

    .close {
      color: $black;
      font-size: inherit;
      margin-left: 0.5rem;
      margin-right: -0.25rem;
    }
  }
  
  // Use light colored badge border when jumbotron has no background-image
  &.bg-no-image .badge {
    border: 2px solid lighten(theme-color("secondary"), 25);
  }
}
