// Jumbotron

.jumbotron {
  // background-image: set in page frontmatter
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0; // Should always be square, independent from $enable-rounded
  text-align: center;
  
  h1 {
    color: $white;
    font-weight: 800;
    font-size: $display3-size;
  }

  .lead {
    color: $white;
    font-size: ($lead-font-size * 1.2);

    a,
    a:hover,
    a:visited {
      color: $white;
    }
  }
}
