// Jumbotron

.jumbotron {
  // background-image: set in page frontmatter
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0; // Should always be square, independent from $enable-rounded
  color: $white;
  text-align: center;
  
  h1 {
    $jumbotron-h1: 3.5rem;
    font-size: $jumbotron-h1;
    font-weight: 800;

    // Reduce font-size on smaller screens, except on homepage
    @include media-breakpoint-down(md) {
      font-size: $jumbotron-h1 - 1;

      &.home {
        font-size: $jumbotron-h1;
      }
    }
  }

  .lead {
    color: $white;
    font-size: ($lead-font-size * 1.2);

    a,
    a:hover,
    a:visited {
      color: $white;
    }
  }
}
