---
layout: base
description: Template for a list of posts, with full width
---

<div class="row">
  <div class="col">

    {{ content }}
  
  </div>
</div>

<div class="row cards">
  {% for post in site.posts %}
    <div class="col-md-6 col-lg-4">
      {% include card.html %}
    </div>
  {% endfor %}
</div>

<script>
  // Filter cards on ?category=value
  $(document).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    
    if (urlParams.has("category") && urlParams.get("category") != "") {
      const category = urlParams.get("category"); // Will return 1st category value + decode URI
      const cleanCategory = $.trim(category.toLowerCase()); // Create category as written in .card data-categories
      
      $(".card").each(function() {
        const cardCategories = $(this).data("categories").split("|");
        // Hide card if it does not contain the selected category
        if (!cardCategories.includes(cleanCategory)) {
          $(this).parent().addClass("d-none");
        }
      });

      $(".header .categories").append(
        '<a class="badge{% if site.rounded_corners != false %} rounded-pill{% endif %}" href="{{ site.archive_permalink | relative_url }}">' + 
        category + '<span class="btn-close btn-close-white"></span>' + 
        '</a>'
      );
    }
  });
</script>
