<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include navbar.html %}

    <main>
      {% include jumbotron.html %}

      <div class="container content">
        <div class="row">
          {% if page.layout == 'archive' %}
            <div class="col">
          {% else %}
            <div class="col-lg-8 col-md-10 mx-auto">
          {% endif %}
          
          {{ content | replace: '<table', '<table class="table"' }}

          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
