---
layout: base
description: Template for homepage.
remark: See also page.layout == 'home' in head.html and header.html.
---

{% if site.tweets_on_home and site.social.twitter %}
  {% assign two_col = true %}
{% endif %}

<div class="row">
  <div class="{% if two_col %}col{% else %}col-md-10 col-lg-8 mx-auto{% endif %}">
    <div class="row">
      <div class="col">

        {{ content }}

      </div>

      {% if two_col %}
        <div class="col-lg-4">
          <a class="twitter-timeline" data-height="500" data-link-color="{{ site.colors.links }}" href="https://twitter.com/{{ site.social.twitter }}?ref_src=twsrc%5Etfw">
            Tweets by {{ site.social.twitter }}
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      {% endif %}
    </div>
    
    {% if site.posts_on_home > 0 %}
      <div class="row cards mt-4">
        {% for item in site.posts limit:site.posts_on_home %}
          <div class="col-md-6{% if two_col %} col-lg-4{% endif %}">
            {% include card.html %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
</div>
